pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "aaVar1",
					"value": "bbbb"
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(\nvariables('aaVar1'),\n'aaaa'\n)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set variable3",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "aaVar1",
								"value": "'dddd'"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "aaVar1",
								"value": "'cccc'"
							}
						},
						{
							"name": "added Set variable3",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Set variable2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "aaVar1",
								"value": "'cccc'"
							}
						}
					]
				}
			},
			{
				"name": "Set variable4",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "aaVar1",
					"value": "'tttt'"
				}
			}
		],
		"parameters": {
			"bbParam": {
				"type": "string",
				"defaultValue": "'parameter bb'"
			}
		},
		"variables": {
			"aaVar1": {
				"type": "String",
				"defaultValue": "aaaa"
			}
		},
		"annotations": []
	}
}