pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "aaVar1",
					"value": "bbbb"
				}
			},
			{
				"name": "If Condition11",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(\nvariables('aaVar1'),\n'aaaa'\n)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "aaVar1",
								"value": "'cccc'"
							}
						}
					]
				}
			}
		],
		"variables": {
			"aaVar1": {
				"type": "String",
				"defaultValue": "aaaa"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-09-22T23:48:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}